
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* En-tête, logo et liens */

header {
    height: 8rem;
    width: 100%;
    display: flex;
    background-color:#141414;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
}


header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 94%;
    list-style: none;
    font-weight: bold;
    font-size: x-large;
    font-family: 'Bakbak One', cursive;
    color: rgb(148, 106, 0);
}

header li {
    cursor: pointer;
}

header li:hover {
    color: rgb(203, 199, 199);
    transition: 0.6s;
}



/* Le corps du site. Avec image de fond et opacité */


section {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(148, 106, 0);
}

section::before {
    content: '';
    background-image: url(photo/2021-06-17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.50;
}


/* Le bloc à propos */


#accueil-page {
    opacity: 0.65;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 13rem;
    width: 70%;
    padding: 2rem;
    border-radius: 20px;
    background-color: rgb(221, 221, 221);
}


/* Les services et galeries photo */

#services {
    opacity: 0.99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8rem;
    width: 100%;
    padding: 2rem;
    background-color: rgb(221, 221, 221);
}




#services ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-family: 'Bakbak One', cursive;
    font-size: larger;
    letter-spacing: 2px;
    margin-bottom: 60px;
}

.metiers-liste {
    width: 50%;
    margin-bottom: 55px;
}

.contactMe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

button {
    padding: 0.5rem;
    background: rgb(148, 106, 0);
    border-radius: 20px;
    font-size: medium;
    font-family: 'Bakbak One', cursive;
    width: 20%;
    height: 3rem;
    margin-top: 15px;
}

.photoTaff {
    width: 50%;
}

.galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1300px;
    margin: 70px auto 0;
}

.galery img{
    width: 100%;
    height: 12rem;
    border-radius: 25px;
    border: 2px solid black;
    box-shadow: inset 10px gold;
}

.items {
    width: 40%;
    padding: 1rem;
    border-radius: 25px;
    margin-top : 17px;
    height: 13rem;
};


/* Le formulaire */

.formBackground {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: rgb(221, 221, 221);
    opacity: 0.65;
    position: absolute;
    width: 50%;
    
}

form {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: rgb(221, 221, 221);
    opacity: 0.65;
    margin: 50px auto;
  }



/* Les titres et paragraphes pour chaques parties */

article h2 {
    text-align: center;
}


h2 {
    font-family: 'Bakbak One', cursive;
    text-align: center;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Bakbak One', cursive; 
    margin-top: 10px;
}

p {
    font-family: 'Bakbak One', cursive;
    text-align: center;
    width: 94%;
    font-weight: 400;
    margin-top: 10px;
}


/* pieds de page */

footer {
    background: #141414;;
    opacity: 0.99;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

footer h3 {
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(148, 106, 0);
}

footer p {
    width: 100%;
}








